*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html, body{
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: plainlight;
    src: url(Fonts/plain-light-webfont.otf);
}

@font-face {
    font-family: plainregular;
    src: url(Fonts/plain-regular-webfont.otf);
}

@font-face {
    font-family: silkseriflight;
    src: url(Fonts/silkserif-lightitalic-webfont.otf);
}

@font-face {
    font-family: silkserifregular;
    src: url(Fonts/silkserif-regularitalic-webfont.otf);
}

#crsr{
    height: 2.8vw;
    width: 2.8vw;
    border-radius: 50%;
    /* background-color: white; */
    border: 1px solid #ffffffbe;
    position: fixed;
    z-index: 999;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
}

#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #030303;
    padding: 20vh 6vw;
}

.line{
    /* background-color: red; */
    overflow: hidden;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
    line-height: 8vw;
}

#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    padding: 0 2.7vw;
    padding-bottom: 2vw;

}

#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-family: silkseriflight;
    font-weight: 100;
}

#line1-part1 h5{
    width: 5vw;
    text-align: right;
}

.line h1{
    font-size: 6.4vw;
    text-transform: uppercase;
    font-weight: 500;
    font-family: plainregular;
}

.line h2{
    font-size: 6.4vw;
    text-transform: uppercase;
    font-family: plainregular;
    font-weight: 700;
    opacity: 0;
    /* animation-name: anime; */
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes anime {
    0%{
        font-family: plainregular;
        -webkit-text-stroke: 1px #fff; 
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: plainregular;
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 0;
    }
    50%{
        font-family: silkserifregular;
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: silkserifregular;
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 0;
    }
}



#main{
    position: relative;
    background-color: #030303;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}

#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.4vw 9vw;
}

#nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    font-family: plainlight;
    padding-right: -4vw;
}

#nav-part2 h4{
    font-size: 1vw;
    font-weight: 500;
}

.page1-main{
    /* background-color: red; */
    width: 72%;
    margin-left: 27.5%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    /* z-index: 999; */
}

.page1-main:nth-child(2){
    margin-top: 15vh;
}

.page1-main h1{
    font-size: 7.5vw;
    font-weight: 500;
    font-family: plainregular;
    text-transform: uppercase;
    line-height: 7.5vw;
}

.page1-main h2, .page1-main h3{
    font-size: 7.5vw;
    font-weight: 500;
    font-family: plainregular;
    text-transform: uppercase;
    line-height: 7.5vw;;
}
.page1-main h2{
    border-bottom: 10px solid #fff;
}

.page1-main h2:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    border-bottom: 10px solid #151515;       
}

#page2{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    padding-top: 8vh;
    position: relative;
}

#video-container{
    height: 60vh;
    width: 71vw;
    position: relative;
    left: 27%;
    /* background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg); */
}

#video-container img{
    position: absolute; 
    height: 100%;
    width: 100%;
    object-fit: cover;
    top :0;     
    z-index: 9;
}

#video-container video{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
}

#video-cursor{
    background-color: #FEA63C;
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    position: relative;
    top: -12%;
    left: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

#video-cursor i{
    font-size: 3vw;
}

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #636060;
}
